body{
	margin: 0px;
	font-family: 'Josefin Sans', sans-serif;

}

.main {
	height: 2000px;
	background-image: url(Images/11.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (min-width:1000px) {
	#container {
		height: 100%;
		width: 1000px;
		margin: 0 auto;
	}
}


/*website logo start*/

.logo{
	background-image: url(Images/logo.png)
	float: left;
	margin-top: 30px;
	width: 100px;
	height: 100px;
	color: #fff;

}

.logo:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);

}

/*website logo end*/


.header {
	margin-top: 0px;
	width: 100%;
}

/*navbar start*/

nav {
	float: right;
	margin-top: 60px;
}

.navbar {
	color: #fff;
	font-size: 15px;
	margin-left: 25px;
	text-decoration: none;
}

.navbar:hover {
	color: black;
	text-shadow: white 2px 2px 5px;

}

.dropbtn {
	font-family: 'Josefin Sans', sans-serif;
    background-color: transparent;
    color: white;
    padding-left: 25px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover {
	color: black;
	text-shadow: white 2px 2px 5px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #;
    min-width: 160px;
    padding-left: 25px;
    font-size: 15px;
    z-index: 1;
}



.dropdown-content a {
    color: #fff;
    padding-top: 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	color: black
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
   
}


/*navbar end*/

.videohome {
	padding: 30px;
	margin-left: 90px;
	margin-bottom: -1500px;
}
/*category bar*/
.category {
	position: center;
	padding: 30px;
	margin-top: -80px;
}

.categorybar {
	color: #fff;
	font-size: 20px;
	margin-left: 25px;
	text-decoration: none;
}

.categorybar:hover {
	color: black;
	text-shadow: white 2px 2px 5px;

}

.category:hover {
	color: black;
	
}

.dropbtn1 {
	font-family: 'Josefin Sans', sans-serif;
    background-color: transparent;
    color: white;
    padding-left: 25px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.dropbtn1:hover {
	color: black;
	text-shadow: white 2px 2px 5px;
}
.dropdown1 {
    position: relative;
    display: inline-block;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #;
    min-width: 160px;
    padding-left: 25px;
    font-size: 15px;
    z-index: 1;
}



.dropdown-content1 a {
    color: #fff;
    padding-top: 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content1 a:hover {color: black}

.dropdown1:hover .dropdown-content {
    display: block;
}

.dropdown1:hover .dropbtn {
   
}

/*category bar end*/

/*social media logo start*/



.instagramlogo {
	padding: 15px;
	height: 60px;
	width: 60px;
	margin-bottom: -700px;
	display:inline-block;


}

.instagramHolder{
text-align:center;
}

.instagramlogo:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.youtubelogo {
	padding: 15px;
	height: 60px;
	width: 60px;
	margin-bottom: -700px;
	display:inline-block;
}

.youtubelogo:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.youtubeHolder{
text-align:center;
}

.facebooklogo {
	padding: 15px;
	height: 60px;
	width: 60px;
	margin-bottom: -700px;
	display:inline-block;
	}

.facebooklogo:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.facebookHolder{
text-align:center;
}

.instagramlogodancegallery {
	padding: 10px;
	padding: 10px;
	height: 40px;
	width: 40px;
}

.instagramlogodancegallery:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.youtubelogodancegallery {
	padding: 10px;
	height: 40px;
	width: 40px;
}

.youtubelogodancegallery:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}


.facebooklogodancegallery {
	padding: 10px;
	height: 40px;
	width: 40px;
}

.facebooklogodancegallery:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.emaillogocontact {
	display: block;
	height: 60px;
	width: 443.67px;
	padding: 10px;
	margin-left: 30px;
}

.emaillogocontact:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.instagramlogocontact {
	display: block;
	height: 60px;
	width: 337.76px;
	padding: 10px;
	margin-left: 30px;
}

.instagramlogocontact:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.youtubelogocontact {
	display: block;
	height: 60px;
	width: 266.81px;
	padding: 10px;
	margin-left: 30px;
}

.youtubelogocontact:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.facebooklogocontact {
	display: block;
	height: 60px;
	width: 323px;
	padding: 10px;
	margin-left: 30px;
}

.facebooklogocontact:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}



/*social media logo end*/


footer {
	color: white;
	margin-bottom: 25px;
	text-decoration: none;
	font-size: 10px;
	margin-top: 520px;
	bottom: 10px;
	text-align: center;
	vertical-align: middle;

}

/*background for each page start*/

.dancegalleryhead {
	height: 3350px;
	background-image: url(Images/gallerybackground.png);
	background-position: center-center;
	background-repeat: no-repeat;
	background-size: cover;
}


.dancevideohead {
	height: 3150px;
	background-image: url(Images/dancevideobackground.png);
	background-position: center-center;
	background-repeat: no-repeat;
	background-size: cover;
}

.photographygalleryhead {
	height: 4100px;
	background-image: url(Images/photographygallerybackground.png);
	background-position: center-center;
	background-repeat: no-repeat;
	background-size: cover;
}

.photographyvideohead {
	height: 2000px;
	background-image: url(Images/photographyvideobackground.png);
	background-position: center-center;
	background-repeat: no-repeat;
	background-size: cover;
}

.contacthead {
	height: 700px;
	background-image: url(Images/38.png);
	background-position: center-center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*background for each page end*/


/*dance gallery page start*/

span {
	text-align: center;
}

h1 {
	font-weight: lighter;
	font-size: 90px;
	color: #fff;
	text-align: center;
	padding-top: 5px;
	clear: both;
	text-decoration: none;
	border-bottom: 2px solid white;
	border-radius: 10px;
}

h2 {
	margin-top: -30px;
}

.dancegalleryimg1 {
	background: #0000000;
	height: 285px;
	width: 190px;
	margin: 5px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
	border-radius: 20px;  
}

.dancegalleryimg1:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}
/*
.dancegalleryimg1:hover {
	border: 2px solid black;

}
*/
.dancegalleryimg2 {
	background: #0000000;
	height: 285px;
	width: 427.5px;
	margin: 5px;
	border:1px solid #;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
	border-radius: 20px;  
}

.dancegalleryimg2:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}

h3 {
	margin-left: -100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}





.bharatanatyam {
	color: white;
	font-size: 40px;
	text-align: center;
	text-decoration: underline;
	padding-top: 50px;

}

.danceportraits {
	color: white;
	font-size: 40px;
	text-align: center;
	text-decoration: underline;
	padding-top: 50px;
}

.bujalwa {
	color: white;
	font-size: 40px;
	text-align: center;
	text-decoration: underline;
	padding-top: 50px;
}

.natyasangam {
	color: white;
	font-size: 40px;
	text-align: center;
	text-decoration: underline;
	padding-top: 50px;
}

/*dance gallery page end*/



/*dance videos page start*/

.videos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
}

.bharatanatyam1 {
	color: white;
	font-size: 40px;
	text-align: center;
	text-decoration: underline;
	padding-top: 50px;

}

.classicalfusion {
	color: white;
	font-size: 40px;
	text-align: center;
	text-decoration: underline;
	padding-top: 50px;
}

.otherstyles {
	color: white;
	font-size: 40px;
	text-align: center;
	text-decoration: underline;
	padding-top: 50px;
}

.bujalwa1 {
	color: white;
	font-size: 40px;
	text-align: center;
	text-decoration: underline;
	padding-top: 50px;
}

/*dance videos page end*/


/*contact page start*/

h5 {
	font-size: 90px;
	color: #fff;
	text-align: left;
	margin-top: 50px;
	margin-left: 50px;
	padding-top: 0px;
	clear: both;

}

.contactlogo {
	margin-left: 25px;
	margin-top: -140px;
}

/*contact page end*/

/*photography gallery page start*/

.photographygalleryimg1 {
	background: #0000000;
	height: 285px;
	width: 427.5px;
	margin: 5px;
	border:1px solid #;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
	border-radius: 20px;  
}

.photographygalleryimg1:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.photographygalleryimg2 {
	background: #0000000;
	height: 285px;
	width: 260.59px;
	margin: 5px;
	border:1px solid #;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
	border-radius: 20px;  
}

.photographygalleryimg2:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}


.photographygalleryimg3 {
	background: #0000000;
	height: 285px;
	width: 190px;
	margin: 5px;
	border:1px solid #;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
	border-radius: 20px;  
}

.photographygalleryimg3:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}


.photographygalleryimg4 {
	background: #0000000;
	height: 285px;
	width: 213.75px;
	margin: 5px;
	border:1px solid #;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
	border-radius: 20px;  
}

.photographygalleryimg4:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}



.photographygalleryimg6 {
	background: #0000000;
	height: 285px;
	width: 336.6px;
	margin: 5px;
	border:1px solid #;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
	border-radius: 20px;  
}

.photographygalleryimg6:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}


.photographygalleryimg7 {
	background: #0000000;
	height: 285px;
	width: 204.95px;
	margin: 5px;
	border:1px solid #;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
	border-radius: 20px;  
}

.photographygalleryimg7:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}


h3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.landscapes {
	color: white;
	font-size: 40px;
	text-align: center;
	text-decoration: underline;
	padding-top: 50px;

}

.portraits {
	color: white;
	font-size: 40px;
	text-align: center;
	text-decoration: underline;
	padding-top: 50px;
}

.other {
	color: white;
	font-size: 40px;
	text-align: center;
	text-decoration: underline;
	padding-top: 50px;
}

/*footer*/

#sitefootercontact {
	position: absolute;
	margin-bottom: -80px;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	background-color: black;
}

#sitefooterdancegallery {
	position: absolute;
	margin-bottom: -2725px;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	background-color: black;


}

#sitefooterhome {
	position: absolute;
	margin-bottom: -1360px;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	background-color: black;

}

#sitefooterdancevideo {
	position: absolute;
	
  	right: 0;
  	bottom: 0;
  	left: 0;
  	background-color: black;

}

#sitefooterphotographygallery {
	position: absolute;
	
  	right: 0;
  	bottom: 0;
  	left: 0;
  	background-color: black;

}
