body{
	margin: 0px;
	font-family: 'Josefin Sans', sans-serif;

}


.main {
	
	background-size: cover;
	background-position: center;
	margin-top: 60px;
	height: 900px;
}



@media screen and (min-width:1000px) {
	#container {
		
		width: 1000px;
		margin: 0 auto;
	}
}


/*website logo start*/


.logo{
	background-image: url(Images/logo.png)
	float: left;
	margin-top: 15px;
	margin-left: 80px;
	padding-bottom: 15px;
	width: 90px;
	height: 90px;
	color: #fff;

}

.logo:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);

}

/*slider*/

.slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;

}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
	padding-top: 60px;
	padding-bottom: 100px;
	margin-left: -100px; 
    top: 0;
    opacity: 0;
    width: 870px;
    height: 600px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: 240px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}

/*slider end*/

/*website logo end*/




.header1 {
	background-color: black;
	width: 100%;
	margin-bottom: -54px;
}

/*normal navbar start*/

nav {
	float: right;
	margin-top: 40px;
	margin-right: 70px;
}

.navbar {
	color: #fff;
	font-size: 18px;
	margin-left: 25px;
	text-decoration: none;
}

.navbar:hover {
	color: #fed0b8;
	text-shadow: white 1px 1px 3px;

}

.dropbtn {
	font-family: 'Josefin Sans', sans-serif;
    background-color: transparent;
    color: white;
    padding-left: 25px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    outline: 0;
}

.dropbtn:hover {
	color: #fed0b8;
	text-shadow: white 1px 1px 3px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #;
    min-width: 160px;
    padding-left: 25px;
    font-size: 15px;
    z-index: 1;
}



.dropdown-content a {
    color: #fff;
    padding-top: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	color: #fed0b8;
	text-shadow: white 1px 1px 3px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
   
}


/*normal navbar end*/



.videohome {
	padding: 30px;
	margin-left: 90px;


}

.latestvideo {
	background: #000000;
}

.homeboxes {
	padding-bottom: 40px;
}
.homegallery {
	height: 250px;
	width: 250px;
	padding: 5px;
}

.homegallery:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.homevideos {
	height: 250px;
	width: 250px;
	padding: 5px;
}

.homevideos:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.homeportraits {
	height: 250px;
	width: 250px;
	padding: 5px;
}

.homeportraits:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.homevideoheader {
	font-size: 40px;
	color: white;
	padding: 20px;
	margin-bottom: -100px;
}
/*category bar*/
.category {
	position: center;
	padding: 30px;
	margin-top: -80px;
}

.categorybar {
	color: #fff;
	font-size: 20px;
	margin-left: 25px;
	text-decoration: none;
}

.categorybar:hover {
	color: #fed0b8;
	text-shadow: white 1px 1px 3px;
}

.category:hover {
	color: #fed0b8;
	
}

.dropbtn1 {
	font-family: 'Josefin Sans', sans-serif;
    background-color: transparent;
    color: white;
    padding-left: 25px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.dropbtn1:hover {
	color: black;
	text-shadow: white 2px 2px 5px;
}
.dropdown1 {
    position: relative;
    display: inline-block;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #;
    min-width: 160px;
    padding-left: 25px;
    font-size: 15px;
    z-index: 1;
}



.dropdown-content1 a {
    color: #fff;
    padding-top: 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content1 a:hover {color: black}

.dropdown1:hover .dropdown-content {
    display: block;
}

.dropdown1:hover .dropbtn {
   
}

/*category bar end*/

/*social media logo start*/




.instagramlogo {
	padding: 15px;
	height: 60px;
	width: 60px;
	display:inline-block;


}

.instagramHolder{
text-align:center;
}

.instagramlogo:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.youtubelogo {
	padding: 15px;
	height: 60px;
	width: 60px;
	display:inline-block;
}

.youtubelogo:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.youtubeHolder{
text-align:center;
}

.facebooklogo {
	padding: 15px;
	height: 60px;
	width: 60px;
	display:inline-block;
	}

.facebooklogo:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.facebookHolder{
text-align:center;
}

.instagramlogodancegallery {
	padding: 10px;
	padding: 10px;
	height: 40px;
	width: 40px;
}

.instagramlogodancegallery:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.youtubelogodancegallery {
	padding: 10px;
	height: 40px;
	width: 40px;
}

.youtubelogodancegallery:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}


.facebooklogodancegallery {
	padding: 10px;
	height: 40px;
	width: 40px;
}

.facebooklogodancegallery:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.emaillogocontact {
	display: block;
	height: 60px;
	width: 443.67px;
	padding: 10px;
	margin-left: 30px;
}

.emaillogocontact:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.instagramlogocontact {
	display: block;
	height: 60px;
	width: 337.76px;
	padding: 10px;
	margin-left: 30px;
}

.instagramlogocontact:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.youtubelogocontact {
	display: block;
	height: 60px;
	width: 266.81px;
	padding: 10px;
	margin-left: 30px;
}

.youtubelogocontact:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.facebooklogocontact {
	display: block;
	height: 60px;
	width: 323px;
	padding: 10px;
	margin-left: 30px;
}

.facebooklogocontact:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}



/*social media logo end*/


footer {
	color: #c5e0f2;
	margin-bottom: 25px;
	text-decoration: none;
	font-size: 10px;
	margin-top: 520px;
	bottom: 10px;
	text-align: center;
	vertical-align: middle;

}

/*background for each page start*/

.dancegalleryhead {
	background-color: #48132c;
    background: -webkit-linear-gradient(#48132c, #b38d9e, #48132c); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#48132c, #b38d9e, #48132c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#48132c, #b38d9e, #48132c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#48132c, #b38d9e, #48132c); /* Standard syntax */
}


.dancevideohead {
	background-color: #07282b;
	background: -webkit-linear-gradient(#07282b, #6a9ca0, #07282b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#07282b, #6a9ca0, #07282b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#07282b, #6a9ca0, #07282b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#07282b, #6a9ca0, #07282b); /* Standard syntax */
}

.photographygalleryhead {
	background-color: #0c0c30; 
	background: -webkit-linear-gradient(#0c0c30, #8fa8ef, #0c0c30); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0c0c30, #8fa8ef, #0c0c30); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0c0c30, #8fa8ef, #0c0c30); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0c0c30, #8fa8ef, #0c0c30); /* Standard syntax */
}

.photographyvideohead {
	background-color: #66425c;
}

.contacthead {
	height: 700px;
	background-image: url(Images/38.png);
	background-position: center-center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*background for each page end*/


/*dance gallery page start*/

span {
	text-align: center;
}

h1 {
	font-weight: lighter;
	font-size: 90px;
	color: #fff;
	text-align: center;
	padding-top: 30px;
	clear: both;
	text-decoration: none;
	border-bottom: 2px solid white;
	border-radius: 10px;
	text-shadow: black 2px 2px 5px;

}

h2 {
	margin-top: -30px;
}

.dancegalleryimg1 {
	background: #0000000;
	height: 285px;
	width: 190px;
	margin: 5px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
	border-radius: 20px;  
}

.dancegalleryimg1:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}
/*
.dancegalleryimg1:hover {
	border: 2px solid black;

}
*/
.dancegalleryimg2 {
	background: #0000000;
	height: 285px;
	width: 427.5px;
	margin: 5px;
	border:1px solid #;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
	border-radius: 20px;  
}

.dancegalleryimg2:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}

h3 {
	margin-left: -100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}





.bharatanatyam {
	font-weight: lighter;
	color: white;
	font-size: 40px;
	text-align: center;
	padding-top: 50px;
	word-wrap: break-word;
	text-shadow: black 2px 2px 5px;
}

.danceportraits {
	color: white;
	font-size: 40px;
	text-align: center;
	word-wrap: break-word;
	padding-top: 70px;
	text-shadow: black 2px 2px 5px;
}

.bujalwa {
	color: white;
	font-size: 40px;
	text-align: center;
	word-wrap: break-word;
	padding-top: 70px;
	text-shadow: black 2px 2px 5px;
}

.natyasangam {
	color: white;
	font-size: 40px;
	text-align: center;
	word-wrap: break-word;
	padding-top: 70px;
	text-shadow: black 2px 2px 5px;
}


.gallery { 
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    margin-top: 10px;
  overflow: hidden;
}

.gallery img { 
    width: 100%; 
    height: auto;
    transition: 500ms;
    margin-bottom: 10px;
    opacity: 0.8;
}

.gallery img:hover {
    opacity: 1;
}

.modal-img,.model-vid{
  width:100%;
  height:auto;
}
.modal-body{
  padding:0px;
}

.modal-dialog {
    text-align: center;
    vertical-align: middle;
    display: block;
    top: 10%;
}

.modal-content {
  border: none;
}

@media screen and (max-width: 767px) {
	.gallery { 
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
	.gallery div { margin: 0; 
        width: 200px;
    }
}

@media screen and (max-width: 479px) {
    .gallery { 
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .gallery div { 
        margin: 0; 
        width: 200px;
    }
}

/*dance gallery page end*/



/*dance videos page start*/

.videos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
}

.bharatanatyam1 {
	color: white;
	font-size: 40px;
	text-align: center;
	padding-top: 70px;
	text-shadow: black 2px 2px 5px;

}

.classicalfusion {
	color: white;
	font-size: 40px;
	text-align: center;
	padding-top: 70px;
	text-shadow: black 2px 2px 5px;
}

.otherstyles {
	color: white;
	font-size: 40px;
	text-align: center;
	padding-top: 70px;
	text-shadow: black 2px 2px 5px;
}

.bujalwa1 {
	color: white;
	font-size: 40px;
	text-align: center;
	padding-top: 70px;
	text-shadow: black 2px 2px 5px;
}

/*dance videos page end*/


/*contact page start*/

h5 {
	font-size: 90px;
	color: #fff;
	text-align: left;
	margin-top: 60px;
	margin-left: 50px;
	padding-top: 30px;
	clear: both;
	text-shadow: black 2px 2px 5px;

}

.contactlogo {
	margin-left: 25px;
	margin-top: -140px;
}

/*contact page end*/

/*photography gallery page start*/

.photographygalleryimg1 {
	background: #0000000;
	height: 285px;
	width: 427.5px;
	margin: 5px;
	border:1px solid #;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
	border-radius: 20px;  
}

.photographygalleryimg1:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.photographygalleryimg2 {
	background: #0000000;
	height: 285px;
	width: 260.59px;
	margin: 5px;
	border:1px solid #;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
	border-radius: 20px;  
}

.photographygalleryimg2:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}


.photographygalleryimg3 {
	background: #0000000;
	height: 285px;
	width: 190px;
	margin: 5px;
	border:1px solid #;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
	border-radius: 20px;  
}

.photographygalleryimg3:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}


.photographygalleryimg4 {
	background: #0000000;
	height: 285px;
	width: 213.75px;
	margin: 5px;
	border:1px solid #;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
	border-radius: 20px;  
}

.photographygalleryimg4:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}



.photographygalleryimg6 {
	background: #0000000;
	height: 285px;
	width: 336.6px;
	margin: 5px;
	border:1px solid #;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
	border-radius: 20px;  
}

.photographygalleryimg6:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}


.photographygalleryimg7 {
	background: #0000000;
	height: 285px;
	width: 204.95px;
	margin: 5px;
	border:1px solid #;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
	border-radius: 20px;  
}

.photographygalleryimg7:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}


h3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.landscapes {
	color: white;
	font-size: 40px;
	text-align: center;
	padding-top: 70px;
	text-shadow: black 2px 2px 5px;

}

.portraits {
	color: white;
	font-size: 40px;
	text-align: center;
	padding-top: 70px;
	text-shadow: black 2px 2px 5px;
}


.other {
	color: white;
	font-size: 40px;
	text-align: center;
	padding-top: 70px;
	text-shadow: black 2px 2px 5px;
}

/*footer*/

.facebooklogofooter {
	padding-left: 10px;
	height: 40px;
	width: 40px;
	display:inline-block;
	}

.facebooklogofooter:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.instagramlogofooter {
	padding-right: 10px;
	padding-left: 10px;
	height: 40px;
	width: 40px;
	display:inline-block;
	}

.instagramlogofooter:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.youtubelogofooter {
	height: 40px;
	width: 40px;
	display:inline-block;
	}

.youtubelogofooter:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);
}

#sitefooterhome {
	height: 20px;
	font-size: 15px;
	text-align: center;
	line-height: 2;
}

.endofpage1 {
	height: 30px;
	background-color: #000000;
	margin-top: 430px;
}

.endofpage {
	height: 30px;
	background-color: #000000;
	margin-top: 140px;
}

hr {
	height: 2px;
	width: 350px;
	margin-top: -30px;
	border-color: black;
}